
   body, html {
     height: 100%;
   }


   * {
     box-sizing: border-box;
   }

   .bg-image {

     filter: blur(5px);
    -webkit-filter: blur(5px);
     height: 100%;
     width: 100%;

     background-position: center;
       text-align: center;
     background-repeat: no-repeat;
     background-size: cover;
   }

   .bg-text {
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0, 0.65); /* Black w/opacity/see-through */
     color: white;
     font-weight: bold;
     border: 3px solid #f1f1f1;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 2;
     width: 45%;
     padding: 20px;
     text-align: center;
   }

   .container{
     width: 100%;
   }

   .contact{
     padding: 20px;
   }

   #navbar .navbar-collapse .collapse .navbar-right{
       padding: 10px;
   }

   .main-content{
       padding: 70px;
   }

   .table tr.highlight:hover{
       background-color: lightgray;
   }

   table {
       font-family: arial, sans-serif;
       border-collapse: collapse;
       width: 100%;
   }

   td, th {
       border: 1px solid #dddddd;
       text-align: left;
       padding: 8px;
   }

   tr:nth-child(even) {
       background-color: #dddddd;
   }

   .main-page {
       background: url(../img/carribean.jpg) no-repeat center center fixed;
       height: 100%;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }

   .jumbotron{
       text-align: center;
       padding-left: 40px;
       background-color: transparent;
   }

   .navbar-header{
       color: transparent;
   }

   .nav-buttons a{
       margin: 0 20px;
   }

   .navbar{
       text-align: center;
   }

   .navbar-brand{
       color: black;
       font-size: 25px;
       font-weight: bold;
       padding-left: 35px;
       padding-right: 35px;
   }

   .navbar-brand:hover{
       color: gray;
   }

   .contact{
       padding: 70px;
   }

   .form-control{
       width: 350px;
   }

   .form-group input{
       padding-top: 5px;
   }

   .form-group label{
       padding-top: 10px;
   }

   .formulas{
       text-align: left;
   }

   #selected{
       color: lightcoral;
   }



